<!DOCTYPE html>
<html>
  <head>
    <title>TempSensor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="antialiased font-sans bg-gray-200">
    <div class="bg-gray-100 py-6">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
